.parent-container {
    font-family: "Lobster", cursive;
  }
  
  .container h1 {
    font-family: "Lobster", cursive;
    color: #f4f1cb;
  }

  .item-container {
    position: relative;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
    background: linear-gradient(black, black);
  }
  
  .item-img {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .item-container:hover .item-img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
  }

  .item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #f1c70a;
    border-bottom: 2px solid #f1c70a;
    border-top: 2px solid #f1c70a;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    opacity: 0;
  }

  .item-container:hover .item-link {
    opacity: 1;
  }
  
  .item-link:hover {
    color: #f4f1cb;
    border: 2px solid #f1c70a;
    background: #391005;
  }

  .item-container:hover {
    outline: 1-px solid #f1c70a;
    outline-offset: -0.8rem;
  }
  