.mapa {
    min-height: 60vh;
    border-radius: 5px;
  }
  
  #contato .cartao {
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    border-radius: 20px;
    padding: 20px;
  }

  #contato .cartao:hover {
    background: rgba(84, 33, 37, 0.4);
  }
  
  #contato .cartao-cabecalho {
    color: #f4f1cb;
    font-family: "Lobster", cursive;
  }

  #contato .input-group-text {
    background: #391005;
    border-color: #391005;
    color: #f1c70a;
  }

  #contato .cartao input {
    color: #391005;
    border: none;
  }

  #contato .cartao input::-webkit-input-placeholder {
    color: #ae986F;
    font-style: italic;
  }

  #contato .cartao input:-ms-input-placeholder {
    color: #ae986F;
    font-style: italic;
  }

  #contato .cartao input::placeholder {
    color: #ae986F;
    font-style: italic;
  }

  #contato .cartao textarea::-webkit-input-placeholder {
    color: #ae986F;
    font-style: italic;
    text-align: center;
  }

  #contato .cartao textarea:-ms-input-placeholder {
    color: #ae986F;
    font-style: italic;
    text-align: center;
  }

  #contato .cartao textarea::-ms-input-placeholder {
    color: #ae986F;
    font-style: italic;
    text-align: center;
  }

  
#contato .cartao textarea::placeholder {
    color: #ae986F;
    font-style: italic;
    text-align: center;
  }

  .contato-btn {
    color: #f1c70a;
    background: #391005;
    border-color: #f1c70a;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }


  .contato-btn:hover {
    background: #f1c70a;
    border-color: #391005;
    color: #391005;
  }
