.equipe {
    padding: 30px 0 40px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .equipe .foto {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
  }
  
  .equipe .foto:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #f1c70a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .equipe:hover .foto:before {
    height: 100%;
  }
  
  .equipe .foto:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f1c70a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .equipe .foto img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
  }


  .equipe:hover .foto img {
    -webkit-box-shadow: 0 0 0 14px #f4f1cb;
            box-shadow: 0 0 0 14px #f4f1cb;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  
  .equipe .equipe-content {
    margin-bottom: 30px;
  }
  
  .equipe .titulo {
    font-size: 22px;
    font-weight: 700;
    color: #f1c70a;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .equipe .funcao {
    display: block;
    font-size: 15px;
    color: #f4f1cb;
    text-transform: capitalize;
  }
  
  .equipe .contatos {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f1c70a;
    position: absolute;
    bottom: -100px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .equipe:hover .contatos {
    bottom: 0;
  }
  
  .equipe .contatos li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .equipe .contatos li a {
    color: #391005;
    text-decoration: none;
  }
  
  .equipe .contatos li:hover {
    background: #391005;
    text-decoration: none;
    cursor: pointer;
  }

  .equipe .contatos li a:hover {
    color: #f1c70a;
  }
  